<?xml version="1.0" encoding="utf-8"?>
<!--suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="${versionCodePlaceholder}"
    android:versionName="${versionNamePlaceholder}"
    package="com.pustovit.sbp_app_detector">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="ru.sberbankmobile" />
        <package android:name="com.idamob.tinkoff.android" />
        <package android:name="ru.vtb24.mobilebanking.android" />
        <package android:name="ru.alfabank.mobile.android" />
        <package android:name="ru.raiffeisennews" />
        <package android:name="com.openbank" />
        <package android:name="ru.gazprombank.android.mobilebank.app" />
        <package android:name="logo.com.mbanking" />
        <package android:name="ru.sovcomcard.halva.v1" />
        <package android:name="ru.rosbank.android" />
        <package android:name="ru.rshb.dbo" />
        <package android:name="ru.mkb.mobile" />
        <package android:name="ru.unicredit.android" />
        <package android:name="ru.skbbank.ib" />
        <package android:name="ru.gebank.ib" />
        <package android:name="ru.avangard.sbp_client" />
        <package android:name="ru.elplat.elplat2" />
        <package android:name="com.bifit.rncbbeta" />
        <package android:name="ru.ftc.faktura.expobank" />
        <package android:name="com.bssys.vbrrretail" />
        <package android:name="ru.artsofte.russiafl" />
        <package android:name="ru.ftc.faktura.multibank" />
        <package android:name="ru.bank_hlynov.xbank" />
        <package android:name="ru.ftc.faktura.vesta" />
        <package android:name="com.isimplelab.ibank.solidarnost" />
        <package android:name="com.bssys.roscapretail" />
        <package android:name="ru.ftc.faktura.kbhmb" />
        <package android:name="ru.mts.money" />
        <package android:name="ru.ftc.faktura.pskb" />
        <package android:name="ru.ftc.faktura.nskbl" />
        <package android:name="ru.akbars.mobile" />
        <package android:name="ru.ftc.faktura.rostfinance" />
        <package android:name="ru.ilb.bbmobile" />
        <package android:name="ru.mcbankrus.MCBankRus" />
        <package android:name="ru.albank.online.aebit" />
        <package android:name="com.bifit.mobile.citizen.icbru" />
        <package android:name="ru.ftc.faktura.orbank" />
        <package android:name="ru.ftc.faktura.agropromkredit" />
        <package android:name="com.energobank.digital" />
        <package android:name="com.bifit.mobile.citizen.kbnk" />
        <package android:name="ru.ftc.faktura.sdm" />
        <package android:name="com.bifit.mobile.citizen.mbb" />
        <package android:name="ru.ftc.faktura.absolutbank" />
        <package android:name="ru.ftc.faktura.multibank" />
        <package android:name="ru.ftc.faktura.akcept" />
        <package android:name="ru.ftc.faktura.etbank" />
        <package android:name="ru.ftc.faktura.multibank" />
        <package android:name="ru.ftc.faktura.razvitiestolica" />
        <package android:name="ru.ftc.faktura.resokreditbank" />
        <package android:name="ru.yoo.money" />
        <package android:name="ru.bspb" />
        <package android:name="com.isimplelab.ibank.kubankredit" />
        <package android:name="com.tochka.bank" />
        <package android:name="com.bssys.novikomretail" />
        <package android:name="ru.rosdorbank.physical" />
        <package android:name="ru.ftc.faktura.primsoc" />
        <package android:name="ru.ftc.faktura.banksaratov" />
        <package android:name="ru.ftc.faktura.tavrich" />
        <package android:name="com.bifit.mobile.citizen.thbank" />
        <package android:name="ru.ftc.faktura.kremlevskiy" />
        <package android:name="ru.ftc.faktura.tkbbank" />
        <package android:name="ru.chelyabinvestbank.investpay" />
        <package android:name="ru.ftc.faktura.derzhava" />
        <package android:name="ru.nbd.android" />
        <package android:name="ru.sngb.dbo.client.android" />
        <package android:name="ru.ftc.faktura.united" />
        <package android:name="ru.ftc.faktura.venetsbank" />
        <package android:name="ru.letobank.Prometheus" />
        <package android:name="ru.simpls.brs2.mobbank" />
        <package android:name="com.bifit.dvbank" />
        <package android:name="ru.ftc.faktura.intesabank" />
        <package android:name="com.mmonline.mobile" />
        <package android:name="cb.ibank.vuz" />
        <package android:name="ru.uralprombank.mobilebanknew.googleplay" />
        <package android:name="ru.ftc.faktura.nsbank" />
        <package android:name="ru.emb.android" />
        <package android:name="ru.ftc.faktura.maritimebank" />
        <package android:name="com.credituralbank.CUBmobilenew" />
        <package android:name="com.isimplelab.isimpleceo.uglemet" />
        <package android:name="ru.ftc.faktura.multibank" />
        <package android:name="com.bssys.stroylesretail" />
        <package android:name="ru.ftc.faktura.iturup" />
        <package android:name="ru.ftc.faktura.finbank" />
        <package android:name="ru.ftc.faktura.gaztransbank" />
        <package android:name="com.isimplelab.ibank.chelind" />
        <package android:name="ru.ftc.faktura.multibank" />
        <package android:name="ru.ftc.faktura.nokss" />
        <package android:name="ru.ftc.faktura.vlbb" />
        <package android:name="ru.ftc.faktura.kbb" />
        <package android:name="ru.faktura.avtograd.person" />
        <package android:name="ru.ftc.faktura.multibank" />
        <package android:name="ru.ftc.faktura.mfkbank" />
        <package android:name="ru.ftc.faktura.forshtadt" />
        <package android:name="ru.ftc.faktura.solidbank" />
        <package android:name="ru.ftc.faktura.alexbank" />
        <package android:name="ru.ftc.faktura.akibank" />
        <package android:name="ru.ftc.faktura.nipbank" />
        <package android:name="ru.ftc.faktura.alefbank" />
        <package android:name="com.bifit.vfbank" />
        <package android:name="com.bssys.uralfdretail" />
        <package android:name="ru.ftc.faktura.multibank" />
        <package android:name="com.snb.online" />
        <package android:name="com.bifit.mobile.citizen.okbank" />
        <package android:name="com.tatsotsbank.dbomobile" />
        <package android:name="ru.vtkbank.android" />
        <package android:name="ru.ftc.faktura.jtbank" />
        <package android:name="ru.ftc.faktura.ns" />
        <package android:name="ru.ftc.faktura.zemskybank" />
        <package android:name="com.bssys.aversretail" />
        <package android:name="ru.rusnarbank.correqts.retail" />
        <package android:name="ru.ftc.faktura.baikalinvestbank" />
        <package android:name="ru.sbi.android" />
        <package android:name="com.metkombank.mobile" />
        <package android:name="com.isimplelab.ionic.kazan.fl" />
        <package android:name="com.intervale.sbp.atlas" />
        <package android:name="com.bifit.mobile.citizen.zarech" />
        <package android:name="ru.centrinvest.mobilebanking2018" />
        <package android:name="com.mifors.izhcombank" />
        <package android:name="com.intervale.sbp.atlas" />
        <package android:name="com.intervale.sbp.atlas" />
        <package android:name="com.intervale.sbp.atlas" />
        <package android:name="com.bifit.pmobile.isbank" />
        <package android:name="ru.zenit.android" />
        <package android:name="ru.briginvest.sense" />
        <package android:name="ru.ftc.faktura.multibank" />
        <package android:name="com.bifit.mobile.citizen.cfb" />
        <package android:name="com.isimplelab.ionic.gorbank.prod" />
        <package android:name="ru.ftc.faktura.moscombank" />
        <package android:name="com.timerbank.retail" />
        <package android:name="com.mob.android" />
        <package android:name="com.citibank.mobile.ru" />
        <package android:name="com.bifit.atbbank" />
        <package android:name="ru.mw" />
        <package android:name="ru.bankuralsib.mb.android" />
        <package android:name="com.banksoyuz.artsofte" />
        <package android:name="ru.rubank.ubsmobile" />
        <package android:name="cb.ibank" />
        <package android:name="ru.ftc.faktura.multibank" />
        <package android:name="ru.ipb.ubsmobile" />
        <package android:name="com.openwaygroup.ic.panda.poidem" />
        <package android:name="com.bifit.mobile.citizen.tenderbank" />
        <package android:name="ru.otpbank.mobile" />
        <package android:name="ru.krk.ubsmobile" />
        <package android:name="ru.homecredit.mycredit" />
        <package android:name="cz.bsc.rc" />
        <package android:name="com.bifit.mobile.citizen.belsocbank" />
        <package android:name="com.hicebank.android" />
        <package android:name="com.bpc.crossplatform_trading.bpc_trading" />
        <package android:name="com.bifit.nrb" />
        <package android:name="com.bifit.mobile.citizen.moskb" />
        <package android:name="ru.isfront.android.kt" />
        <package android:name="ru.ftc.faktura.novobank" />
        <package android:name="com.smp.android" />
        <package android:name="com.bifit.mobile.citizen.nkbank" />
        <package android:name="com.isimplelab.ibank.toyota" />
        <package android:name="com.bifit.mobile.private.bbr" />
        <package android:name="ru.ftc.faktura.lanta" />
        <package android:name="ru.ftc.faktura.dolinsk" />
        <package android:name="com.finservice.mobile" />
        <package android:name="com.ltech.unistream" />
        <package android:name="com.isimplelab.ionic.standart" />
        <package android:name="ru.ibam.retailmobile" />
        <package android:name="ru.bcs.bcsbank" />
        <package android:name="com.isimplelab.ionic.slavia.prod" />
        <package android:name="com.bifit.mobile.citizen.efbank" />
        <package android:name="com.yandex.bank" />
        <package android:name="ru.ftc.faktura.bgfbank" />
        <package android:name="com.idamobile.android.LockoBank" />
        <package android:name="com.bifit.mobile.citizen.MCBank" />
        <package android:name="com.cetelem.cetelem_android" />
        <package android:name="com.bssys.gutaretail" />
        <package android:name="ru.ftc.faktura.siab" />
        <package android:name="com.isimplelab.ionic.round.prod" />
        <package android:name="com.priobank.prio" />
        <package android:name="com.inbank.mobilebank" />
        <package android:name="com.isimplelab.isimplemobile.payjet" />
        <package android:name="ru.ftc.faktura.agroros" />
        <package android:name="com.bifit.mobile.citizen.invb" />
        <package android:name="com.compassplus.mobicash.customer" />
        <package android:name="com.compassplus.mobicash.customer" />
        <package android:name="ru.finambank.app" />
    </queries>

</manifest>